/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* common fonts */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* header star */ 
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2D25A0;
    color: #fff;
}
.container{
    width: 90%;
    padding-top: 60px;
    padding-bottom: 50px;
}
.banner-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-column-gap: 50px;
}
.banner-contant{
    padding-bottom: 30px;
    padding-left: 30px;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}
.banner-img{
    position: relative;
    animation: animate 5s linear infinite;
}
@keyframes animate {
  0%   { left:0px; top:0px;}
  25%  { left:30px; top:0px;}
  50%  { left:30px; top:30px;}
  75%  { left:0px; top:30px;}
  100% { left:0px; top:0px;}
}
.banner-img img{
    width: 100%;
}
.link{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    background-color: #E02C6D;
    padding: 10px 15px;
    display: inline;
    font-size: 16px;
    border-radius: 5px;
    transition: all 1s;
}
.link:hover{
    color: #E02C6D ;
    background: #fff;
}
.fa-arrow-right{
    margin-left: 10px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}
.players-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 70px;
    padding-bottom: 50px;
}
.players{
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgb(180 179 179) 0px 0px 9px 3px;
}
.player-img{
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
}
.player-img img{
    width: 100%;
    border-radius: 5px;
    transition: transform .5s;
}
.players:hover .player-img img{
    transform: scale(1.2);
    cursor: pointer; 
} 
.player-name h2{
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.playre-info p{
    font-size: 16px;
    color: #6c6c6c;
}
/* fifa team */
 .fifa-team{
     /* display: grid;
    grid-template-columns: 1fr; */
     padding-top: 50px;
     padding-bottom: 50px;
     background-color: rgb(240, 240, 240) ;
 }
.county{
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: auto;

}

.country-flag img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.center-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.country-flag{
    height: 100%;
    animation: rotation 60s linear infinite;
}
@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}
.country-flag img:nth-child(1){
    top: -20px;
    left: 45%;
}
.country-flag img:nth-child(2){
    top: 20%;
    right: 5px;
}
.country-flag img:nth-child(3){
    top: 65%;
    right: 0;
}
.country-flag img:nth-child(4){
    bottom: -5%;
    right: 45%;
}
.country-flag img:nth-child(5){
    top: 60%;
    left: -4%;
}
.country-flag img:nth-child(6){
    top: 17%;
    left: 0%;
}
/* footer area */
.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding-top: 50px;
    padding-bottom: 80px;
}
.footer-container{
    width: 80%;
    display: grid;
    justify-content: center;
}
.logo-area img{
    width: 80%;
}
.social-media{
    text-align: center;
    margin-top: 25px;
}
.icon-link{
    width: 50px;
    height: 50px;
    background-color: #0B0D17;
    opacity: 0.5;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
    margin-left: 15px;
}
.fab{
    color: #969BAB;
    line-height: 2;
    font-size: 25px;
}
.copyright{
    text-align: center;
    font-size: 18px;
}
 
 

/* mobile  */
@media only screen and (max-width: 688px) {
    .players-container{
        width: 100%;
    }
    .banner-area{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }
    .banner-title{
        margin-top: 0;
        font-size: 36px;
        line-height: 50px;
    }
    .players-container{
        grid-template-columns: 1fr;
    }
    .footer{
        padding-top: 50px;
    }
    .icon-link{
        height: 30px;
        width: 30px;
    }
    .fab{
        font-size: 16px;
    }
    .copyright{
        font-size: 15px;
    }
}


 /* table device */
 @media only screen and (min-width: 689px) and (max-width:992px){
     .banner-area{
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-title{
        font-size: 36px;
        line-height: 50px;
    }
    .banner-contant{
        padding-right: 40px;
    }
    .players-container{
        grid-template-columns: 1fr 1fr;
    }
 }